@import url(http://fonts.googleapis.com/css?family=Special+Elite|Comfortaa:400,700|Bubblegum+Sans|Walter+Turncoat);
body {
	background: url('../img/city.jpg') no-repeat;
	background-size: cover;
	color: #fff;
	font-family: 'Comfortaa', cursive;
}
.wrapper {
	background: #666; /* Fallback */
	background: rgba(27, 26, 26, 0.6);
	margin: 0 auto;
	padding: 1%;
	width: 90%;
}
header {
	text-align: center;
}
header h1 {
	font-family: 'Special Elite', serif;
}
h2 {
	font-family: 'Bubblegum Sans', sans-serif;
	letter-spacing: 2px;
}
a {
	text-decoration: none;
}
a h3, span.label {
	font-family: 'Walter Turncoat', sans-serif;
}
