@import url(http://fonts.googleapis.com/css?family=Averia+Sans+Libre:300,400|Gloria+Hallelujah|Raleway:900);

body{
	background: url('../img/bg.png');
	font-family: 'Averia Sans Libre', sans-serif;
	text-align: center;
}
.wrapper {
    background: none repeat scroll 0 0 #fff;
	box-shadow: 0 0 12px #000000;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	margin: 6% auto;
	position: relative;
	width: 80%;
}
header {
	-webkit-border-top-left-radius: 50px;
	-webkit-border-top-right-radius: 50px;
	-moz-border-radius-topleft: 50px;
	-moz-border-radius-topright: 50px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}
header, footer {
    background: none repeat scroll 0 0 #1893d7;
}
footer {
	-webkit-border-bottom-right-radius: 50px;
	-webkit-border-bottom-left-radius: 50px;
	-moz-border-radius-bottomright: 50px;
	-moz-border-radius-bottomleft: 50px;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
	position: relative;
	bottom: 0;
}
footer p{
	padding: .5em;
}

/*
	Header
*/
header h1, header h2 {
	color: #fff;
	font-family: 'Raleway', sans-serif;
}
header h1 {
	font-size: 4em;
	font-weight: 900;
	margin: 0;
}
header h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	letter-spacing: 2px;
	margin-top: 0;
	padding-bottom: 1%;
}

/*
	Intro
*/
h3, p.name {
	font: 2em 'Gloria Hallelujah';
}

p, .rg span {
	font-family: 'Averia Sans Libre', cursive;
}
p {
	font-weight: 300;
	line-height: 2em;
	margin: 1em auto;
	padding: 0 2em;
	width: 60%;
}
.rg {
    margin: 0 auto 1%;
    position: relative;
    width: 75%;
}
.rg span {
	font-size: 1.1em;
	font-weight: 400;
}

.rg p {
	font-family: 'Gloria Hallelujah';
	letter-spacing: 1px;
	padding: 0;
	width: 100%;
}

form {
	padding: 1%;
}
.rg #left, .rg #right {
	display: inline-block;
	vertical-align: middle;
}
.rg #right {
	width: 60%;
	text-align: left;
}
#right > p:first-of-type {
    margin-top: 0;
}
.rg #left {
	width: 30%;
	margin-right: 10%;
}
.rg img {
	border: 10px solid #0f74aa;
	border-radius: 10px;
	width: 100%;
}
p.error {
	color: red;
}
input[type="submit"] {
	background: #62e200; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #62e200 0%, #61c419 52%, #61c419 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#62e200), color-stop(52%,#61c419), color-stop(100%,#61c419)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #62e200 0%,#61c419 52%,#61c419 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #62e200 0%,#61c419 52%,#61c419 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #62e200 0%,#61c419 52%,#61c419 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #62e200 0%,#61c419 52%,#61c419 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62e200', endColorstr='#61c419',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border-color: #3cb836;
    border-radius: 50%;
    box-shadow: 0 0 3px #8ba789;
    display: block;
    font: 1em "Averia Sans Libre",sans-serif;
    margin: 1em auto 0;
    padding: 3% 0.5%;
}
input[type="submit"]:hover {
	background: #61c419; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #61c419 0%, #61c419 44%, #b2ff00 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#61c419), color-stop(44%,#61c419), color-stop(100%,#b2ff00)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #61c419 0%,#61c419 44%,#b2ff00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #61c419 0%,#61c419 44%,#b2ff00 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #61c419 0%,#61c419 44%,#b2ff00 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #61c419 0%,#61c419 44%,#b2ff00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61c419', endColorstr='#b2ff00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color: #fff;
}
label {
    margin-right: 1%;
}